body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
}

h4 {
    font-weight: 400; /* Normal weight */
    margin: 0; /* Remove default margin */
}

footer {
    margin-top: auto; /* Push the footer to the bottom */
    padding: 10px 0; /* Add some padding to the footer */
}
