section a {
    color: #fff;
    text-decoration: none;
    position: relative;
    padding-bottom: 0; /* Remove any extra padding */
}

section a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px; /* Thin underline */
    bottom: -2px; /* Move underline closer to text */
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

section a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

pre {
    font-weight: bold; /* Make text inside <pre> bold */
}
